@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'IBM Plex Sans';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.font-math {
  font-family: 'Latin Modern Math';
}

.canvas-grid {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.06) 1px, transparent 1px);
  background-size:
    24px 24px,
    24px 24px,
    120px 120px,
    120px 120px;
  background-position:
    0 0,
    0 0,
    0 0,
    0 0;
  opacity: 0.9;
}

.dark .canvas-grid {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
}
